.btn-dashboard {
  --bs-btn-bg: #48AB9D;
  --bs-btn-border-color: #48AB9D;
  --bs-btn-hover-bg: #39877C;
  --bs-btn-active-bg: #39877C;
  color: white;
  font-size: 20px;
  letter-spacing: 0.1em;
}

.btn-publish {
  --bs-btn-bg: #7C3987;
  --bs-btn-border-color: #7C3987;
}