.btn-create {
  --bs-btn-bg: #4f6f52;
  --bs-btn-border-color: #4f6f52;
  --bs-btn-hover-bg: #445f47;
  --bs-btn-active-bg: #3a523d;
}

.btn-publish {
  --bs-btn-bg: #b59b4c;
  --bs-btn-border-color: #b59b4c;
  --bs-btn-hover-bg: #9e873f;
  --bs-btn-active-bg: #857235;
}
